
#cabecalho {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#rodape {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#menu {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    margin: 0px 0px 10px 0px;
}

.conteudo {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

#menu a:link, #menu a:visited {
  color: blueviolet;
  font-weight : bold;
  text-decoration: none;
}

#menu a:link:hover, #menu a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


